@media only screen and (max-width: 767px){
	.sidebar{
		width: 100% !important;
	}
	.single-product-gallery-item.details_book_wrapper {
	    height: 425px;
	    width: 100%;
	}
	.details_book_wrapper img {
	    max-height: 425px;
	    max-width: 100%;
	}
	.quantity-container.info-container .btn {
	    margin-bottom: 15px;
	}
	#mc-horizontal-menu-collapse .navbar-nav>li {
	    float: none;
	    display: block;
	}
	.authImg {
	    float: left;
	    margin-left: 0px;
	    margin-right: 10px;
	}
	.authDes {
	    margin-left: 0px;
	}
	.menuRow{
		margin-top: 0;
		margin-right: 0;
	}
	.viewRow{
		margin-top: 20px;
	}
	.viewRow>li {
	    text-align: center;
	    width: 100%;
	}
	.viewRow>li:last-child{
		width: 100%;
	}
	.viewRow>li:last-child>.navbar-form{
		 width: 100%;
	}
	.viewRow>li:last-child .form-control{
		width: 80%;
    	float: left;
	}
	.menuRow>li{
		display: block;
    	margin-bottom: 10px !important;
	}
	.featured-product .products{
		margin-right: 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
	.sidebar{
		width: 100% !important;
	}
	.single-product-gallery-item.details_book_wrapper {
	    height: 425px;
	    width: 100%;
	}
	.details_book_wrapper img {
	    max-height: 425px;
	    max-width: 100%;
	}
	.quantity-container.info-container .btn {
	    margin-bottom: 15px;
	}
	#owl-single-product .owl-item{
		width: 100% !important;
	}
	.menuRow{
		margin-top: 0;
	}
}
@media (min-width: 1024px){
	.modal-dialog {
	    width: 800px;
	    margin: 30px auto;
	}
}